<div class="container-scroller">
  
  <app-navbar></app-navbar>

  <div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">
        <app-welcomemessage></app-welcomemessage>
        
        <div class="row">
          <div class="col-xl-6 grid-margin">
            <div class="row">
             
            <app-totalusers></app-totalusers>
           
            <app-totalprojects></app-totalprojects>
            
          </div>
             
          <app-downloads></app-downloads>
          
          </div>
          
          <app-totalsales></app-totalsales>
        
        </div>
        <div class="row">
         
          <app-totalsalesicon></app-totalsalesicon>
          
          <app-totalsalesicon></app-totalsalesicon>
          
          <app-totalorders></app-totalorders>
          
          <app-totalgrowth></app-totalgrowth>
       
        </div>
        <div class="row">
         
          <app-tickets></app-tickets> 
          <app-updates></app-updates>
        
        </div>
        <div class="row">
       
          <app-distribution></app-distribution>
          
          <app-salereport></app-salereport>
        
        </div>
     
        <app-openinvoices></app-openinvoices>
     
      </div>
    
      <app-footer></app-footer>
    
     </div>
  </div>
</div>